# Start with the name of Allah who is the most Benefical and most Mercifull

# Topic: Np.where()

# A vectorized version of the ternary expression x if condition else y

In [2]:
import numpy as np

In [3]:
salary = np.array([0,-1,100000,50000])

In [4]:
np.where(salary<=25000,25000,salary)

array([ 25000,  25000, 100000,  50000])

In [5]:
np.where(salary<=25000,"not ok","ok")

array(['not ok', 'not ok', 'ok', 'ok'], dtype='<U6')